h1 {
    color:crimson;
    font-size: 34px;
    text-align: center;
    margin: 1 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2 {
    color: purple;
    text-align: center;
}

h3 {
    color: rgb(163, 107, 3);
    text-align: center;
    margin-top: 50px;
}
.h3-2{
    text-align: left;
}

.ul1 {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.li1 {
    margin: 10px 20px;
}


.ul2 {
    list-style-position: outside;
    max-width: 100px;
    margin: 20px auto;
   
}
ol {
    text-align: center;
    list-style-position:inside
    
}

p{
    display: inline;
    margin-left:100px;
}

.p2{
    margin: 0 auto;
    font-family: sans-serif;
}
img {
    margin-top: 50px;
    height: 350px;
    width: 350px;
}
figcaption {
    margin-top: 20px;
    text-align:center;
    margin-left: 50px;
}
